body {
    margin: 0;
    padding: 0;
  }
  :root {
    --skin: #f6c09c;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .head {
    width: 130px;
    height: 250px;
    background: var(--skin);
    border-radius: 65px;
    position: relative;
  }
  .eyes {
    position: absolute;
    width: 35px;
    height: 28px;
    background: var(--white);
    top: 55px;
    
    
  }
  .eye-left {
    
    left: 32px;
    text-align: center;
    /*line-height: 30px;*/
    border-radius: 30% 0 50% 50%;
  }
  .eye-right {  
    
    right: 32px;
    text-align: center;
    /*line-height: 30px;*/
    border-radius: 0 30% 50% 50%;
        
  }
  .pupil {
    width: 7.5px;
    height: 7.5px;
    background: var(--black);
    /*display: inline-block;
    line-height: 7px;
    vertical-align: middle;*/
    margin: 6px auto;
    border-radius: 4px;
  }

  .bottom-face {
    position: absolute;
    width: 130px;
    height: 159px;
    line-height: 159px;
    background: var(--black);
    top: 92px;
    border-radius: 0 0 80px 80px;
    
    text-align: center;
  }
  
  .neck {
    position: absolute;

    width: 100px;
    height: 60px;
    background: #F7BCA7;
    
    top: 210px;

    left: calc(50% - 50px);
  }
  .nose {
    width: 35px;
    height: 25px;
    line-height: 30px;
    background: var(--skin);

    display: inline-block;
    vertical-align: top;
    border-radius: 0 0 20px 20px;
  }
  .mouth {
    background: var(--dark-red);
    width: 50px;
    height: 40px;
    margin: -120px auto;
  }